{% extends "index.html" %}
{% block content %}

  <title>Profile Page</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
  <header>
    <h1 class="text-center py-4" id="main-h1">EV MAPPER</h1>
 </header>
 <div style="display: none">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location" />
 </div>
 <div id="map"></div>
 <div id="infowindow-content">
    <span id="place-name" class="title"></span><br />
    <span id="place-address"></span>
 </div>
 <section class="container-fluid">
    <div class="col-12 col-sm-8 mb-3 mx-auto">
    </div>
 </section> 
</body>
{% endblock %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA727QkFrjWhzr_hxqcxtuRE3XR0lLMWDQ&callback=initMap&libraries=places" defer></script>
<script type="text/javascript" src="assets/js/searchbox.js"></script>
</html>