{% extends "emap/base.html" %} {% block title %}Password Reset{% endblock %}
{% load static %}
{% block content %}

    <div class="content-section">
        <h2 align="center" class="mt-3">Password Reset</h2>
        <legend class="border-bottom mb-4 text-center">Please, enter your info.</legend>
        <form method="POST" class="" action=''>{% csrf_token %}
            <fieldset class="form-group">
                {% for field in form %}
                    <label class="label-group-addon" for="{{ field.label }}">{{ field.label }}:</label>
                    <div class="">
                        {% if "password" in field.name %}
                        <input
                                class="form-control"
                                id="{{ field.id_for_label }}"
                                maxlength="30"
                                name="{{ field.html_name }}"
                                placeholder="{{ field.label }}"
                                type="password"/>
                        {% else %}
                            <input
                                    class="form-control"
                                    id="{{ field.label }}"
                                    maxlength="30"
                                    name="{{ field.name }}"
                                    placeholder=""
                                    type="text"/>
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
                <br/>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="w-100 btn btn-primary btn-lg">
                        {% if btn_label %}
                            {{ btn_label }}
                        {% else %}
                            Submit
                        {% endif %}
                    </button>
                </div>
            </fieldset>
        </form>
        
    </div>
    <h2 style="text-align:center">
        <img class=" card-img-top" src="{% static 'banner.png' %}" alt="" style="width:100%">
    </h2>
{% endblock %}