{% extends "emap/base.html" %} {% block title %}Profile{% endblock %}
{%block content%}
{% load static %}
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
        background-color: #571AB7;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{% static 'httpService.js' %}"></script>
<script type="text/javascript" src="{% static 'ncr-connector.js' %}"></script>
<script type="text/javascript" src="{% static 'geo.js' %}"></script>
<script type="text/javascript" src="{% static 'menu.js' %}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRXv-4nyUEs7sEVj1JohJERH0sZ_31PjM&callback=initMap&libraries=places"
    defer></script>
<script>
    $(document).ready(function () {
        addConnectorTypes()
    });
</script>
</head>

<body>
    <h3 class="text-center pt-2">FIND YOUR CHARGE POINT</h3>

<div class="container">
    <select 
        class="form-select mt-3 mb-3" 
        aria-label="Charger Type Selection" 
        id="chargertype_select"
        onchange="typeSelected(this)"
    >
        <option value="-1" selected>All Connector Types</option>
    </select>

    <!--The div element for the map -->

    <input 
        id="pac-input"
        class="controls" 
        type="text" 
        placeholder="Search Box" 
    />
    <div id="map"></div>

</div>
    
    <footer>
        <p>

        </p>
    </footer>

</body>





{% endblock %}