{% extends "base.html" %} {% block title %}Profile{% endblock %}
{%block content%}
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
</style>

</head>

<body>
    <h3>FIND YOUR CHARGE POINT</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <div id="infowindow-content">
        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
    </div>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZmQa2AO6TbYTu3lroTe5ennXl3D7wvw4&callback=initMap">
    </script>
    <script type="text/javascript" src="static/js/searchbox.js"></script>
</body>
{% endblock %}