/*--------------------------------------------Media Queries*/
@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell
    }

    #map {
        height: 100%;
    }

    #map-div,
    #map-section {
        height: 500px;
    }
}

/*--------------------------------------------Map*/
#map {
    height: 100%;
}

#map-div,
#map-section {
    height: 500px;
}