<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block styles %}

    {% endblock %}

    {% if title %}
        <title>EVM - {{ title }}</title>
    {% else %}
        <title>EVM</title>
    {% endif %}
  </head>
  <body>
  
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">
        </h5>
        <span class="text-muted" style="text-align: center;">Toggleable via the navbar brand.
  <ul>
    {% if session.user %}
        <!-- layout.html -->
        <li><a href="{{ url_for('template_test') }}">Home</a></li>
        <!-- profile.html -->
        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
    {% else %}
        <!-- layout.html -->
        <li><a href="{{ url_for('template_test') }}">Home</a></li>      
        <!-- login.html -->
        <li><a href="{{ url_for('login') }}">Log in</a></li>
        <!-- register.html -->
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <!-- profile.html -->
        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
        <!-- about.html -->
        <li><a href="{{ url_for('about') }}">About us</a></li>
    {% endif %}

</ul>

        </span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
<section>

</section>
{% block content %}
{% endblock %}

    <div class="footer">
      {% block footer %}
        Watch! This will be added to my base and child templates using the super powerful super block!
        <br>
        <br>
      {% endblock %}
    </div>
  </body>
</html>