{% extends "layout.html" %}
{% block content %}

<h3 class="center-align">Log In</h3>

<div class="row">
<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
   <p>Leave your name and your review of any of the below Barbers please. Thanks</p>
    <label for="name">Username</label>
   <input id="username" type="text" name="username" class="validate">     
    <label for="password">Password</label>
          <input id="password" type="password" password="password" class="validate" name="password">
   <button type="submit" style="align-items: center;">Enter</button>
</form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align"><a href="" class="class"><a href="{{ url_for('register') }}">If you have not yet registered to our page, please do so here and you can read and write new reviews of our barbers.Register</a> 
        </a></p>
            
    </div>

</div>

{% endblock %}
