/*--------------------------------------------Media Queries*/
@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell
    }

    #map {
        height: 100%;
    }

    #map-div,
    #map-section {
        height: 500px;
    }
}

/*--------------------------------------------Map*/
#map {
    height: 100%;
}

#map-div,
#map-section {
    height: 500px;
}

/*--------------------------------------------Search Bar*/
.search-container {
    background-color: #3D3D3D;
    height: max-content;
    padding-bottom: 3rem;
}

.search-bar {
    width: 100%;
    border: 2px solid #3D3D3D;
}

input::placeholder {
    color: #3D3D3D;
    font-family: "Open Sans", sans-serif;
}

#rating {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}